# Игнорировать папки, созданные PyCharm
.idea

# Игнорировать __pycache__
__pycache__

# Игнорировать venv
venv

# Игнорировать изображения
**/*.png
**/*.jpg

# Игнорировать файлы хранения
**/*.xlsx
**/*.json
**/*.txt

# Оставить файл requirements.txt
!requirements.txt
